<div class="card-deck" >
    <div class="card" *ngFor = "let product of productsList">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{product.id}} - {{product.name}}</h5>
        <p class="card-text">Price : {{product.price}}</p>
        <p class="card-text">Description : {{product.description}}</p>
        <p class="card-text">Created At : {{product.createdAt}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div> 
  </div>
